/*=========================================

** Сетка						/grid.css

* Строка						/.el_row
* Колонки						/.el_col

*/
 
/*-----------------------------------------
[ * Строка ]
------------------------------------------*/
.el_row {
	display: block;
	position: relative;
	@mixin clearfix;
}

.m_1.el_row {
	margin: 0;
}

.m_2.el_row {
	margin: 0 -15px;
}

/*-----------------------------------------
[ * Колонки ]
------------------------------------------*/
.el_col {
	float: left;
}

.m_1.el_col,
.m_2.el_col,
.m_3.el_col {
	padding: 0 15px
}

.m_1.el_col {
	width: 34%;
	padding-left: 0px;
}

.m_2.el_col {
	width: 66%;
	padding-right: 0px;
}

.m_3.el_col {
	width: 25%;
}




/* ==========================================================================
   Адаптивность
   ========================================================================== */

/* I. Смартфон
========================================================================== */
@media (max-width: $adaptive-mobile-top-edge) {

	/*-----------------------------------------
	[ * Строка ]
	------------------------------------------*/
	.m_2.el_row {
		margin: 0px;
	}
	
	/*-----------------------------------------
	[ * Колонки ]
	------------------------------------------*/
	.m_1.el_col,
	.m_2.el_col,
	.m_3.el_col {
		width: 100%;
		padding: 0px;
	}
	
}

/* II. Планшет
========================================================================== */
@media (min-width: $adaptive-tablet-bottom-edge) and (max-width: $adaptive-tablet-top-edge) {

}


